button {
  background: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  outline: 0;
}

body {
  padding-top: 115px;
}

/* @media screen and (max-height: 500px) {
  body {
    padding-top: 220px;
  }
} */

.home {
  margin-top: 0 !important;
}

.footer {
  margin-top: 50px;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

}

.header__first {
  padding-top: 5px;
  padding-bottom: 5px;
}

.container {
  max-width: 1330px;
}